// CORE SASS FILE


%cardDimensions{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

%flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;

}
