.front, .back {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }

.front, .back {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  height: 100vh;
  width: 100vw;
  perspective: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eb4a13;
  background-image: linear-gradient(90deg, #eb4a13 0%, #FA709A 100%); }

.card {
  height: 300px;
  width: 600px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 5px;
  box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.25);
  transition: 1.25s; }
  .card:hover {
    transform: rotateX(180deg); }

.front {
  font-family: 'Satisfy' sans-serif; }
